/*	yellow: #FFD005; rgba(255, 208, 5, 1)
orange: #EB6409; rgba(235, 100, 9, 1)
red: #E1081B; rgba(225, 8, 27, 1)
green-dark: #048E42; rgba(4, 142, 66, 1)
green-light: #70BE94; rgba(112, 190, 148, 1)

	*/

html {
  scroll-behavior: smooth;
}
* {
	margin: 0PX;
	padding: 0px;
}
@font-face {
font-family: "Tally";
src: url("Tally.otf");
}
@font-face {
font-family:"BebasNeue";
src: url("BebasNeue-Regular.ttf");
}

h1 {
	font-family: "tally";
	font-size: 3.0em;
	color: #70BE94;
	word-spacing: 5px;
	letter-spacing: 1px;
}
h2 {
	font-family:"tally";
	color: black;
}
h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 200;
	color: black;
}

a {
	text-decoration: none;
}
.headband {
	background-color: beige;
opacity: 0.9;
	height: 100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	z-index: 1;
transition-duration: 0.3s;
transition-delay: 0.3s;
}
.logo-header {
	height: 100%;
	width: 250px;
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center
}


.navigation {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	text-align: center;
position: relative;
top: 525px;
right: 150%;
width: 100vh;
height: 100vh;
padding: 15%;
background-color: lightgray;
opacity: 0.9;
transition-duration: 0.3s;
animation-duration: 0.3s;
transition-timing-function: ease-in-out;
}

.navigation h2 {
	font-size: 3.0em;
	margin-bottom: 5vh;
}
.navigation h2:hover {
	color: #EB6409;
}
.navigation-phone {
	position: absolute;
	right: 2%;
}
.hamburger {
	cursor: pointer;
	border: none;
	background-color: transparent;
	transition: 0.3s;
	z-index: 2;
}
.hamburger:hover {
	
}


/*footer*/
.contact-container {
	justify-content: center;
}
.social {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 20px;
}
.social-icon {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	color: #70BE94;
}
.social-icon h3 {
	font-family: "Tally";
	font-size: 1.8em;
	font-weight: 800;
}
.img-icon {
	margin-top: 5px;
	width: 50px;
}
.container-adress {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	text-align: center;
}

/*--------------------MAIN PAGE---------------*/
.title {
	margin-top: 100px;
	margin-bottom: 20px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 6em;
	border-top: 2px black solid;
	border-bottom: 2px black solid;
	background-color: azure;
}


.main-container {

	display: flex;
	flex-direction: column;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.logo-title {
	width: 100%;
	height: 40vh;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 40px;
}

.home-logo {
		display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;

}

.green-band {
	height: 20vh;
	width: 100%;
	object-fit: cover;
	animation: taadaa 1s forwards;
}
.logo-main {
	margin-top: 50px;
	max-height: 50%;
	opacity: 0;
	animation: taadaa 3s forwards;
}
.pepine-title {
	margin-top: 5vh;
	font-size: 2.8em;
	animation: taadaa 4s forwards;

}
@keyframes taadaa { 
	0% {
	  opacity: 0;
	}
	30% {
		opacity: 0;
	  }
	100% {
	  opacity: 1;
	}
  }



.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.card-icon {
	height: 60vh;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.label-icon-unite {
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}
.label-icon-unite img {
	width: 80%;
}
.label-bio {
	grid-column: 1 / 1;
	grid-row: 1;
  }
  .label-cider {
	grid-column: 3 / 3;
	grid-row: 1;
  }
  .label-friend {
	grid-column: 5 / 5;
	grid-row: 1;
  }
  .label-cocktail {
	grid-column: 2 / 2;
	grid-row: 2;
  }
  .label-apple {
	grid-column: 4 / 4;
	grid-row: 2;
  }
.card-description {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-bottom: 5vh;
	font-size: 1.8em;
}

.card-img {
	object-fit: contain;
	max-width: 50vh;
	max-height: 50vh;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5%;
}

/*Formulaire de contact*/

.form-container {
	width: 70vh;
	height: 70vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.form-contact {
	display: flex;
	flex-direction: row;
	align-items: space-between;
}
.contact-first {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.contact-second {
	margin-left: 5%;
		margin-right: 5%;
}
.input-contact {
	padding: 2px;
	width: 30vh;
	height: 30px;
	text-align: justify;
	border-radius: 5px;
	border: 1px black solid;
}
#message {
	font-size: 1.6em;
	width: 50vh;
height: 30vh;	
margin-bottom: 3vh;
}
.button-contact {
	border-radius: 5px;
	background-color: gold;
	height: 40px;
	width: 50vh;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.6em;
}
@media screen and (max-width: 992px) {
.navigation-choice {
	margin-bottom: 5vh;
}
.hamburger img {
	width: 5%;
}
.container {
	height: 100vh;
}
.logo-header {
	max-width: 33vh;
}
.logo-main {
	max-width: 80%;
}
.title {
	font-size: 2.8em;
}
.card {
	padding: 0px;
}
.card-img {
	object-fit: contain;
	max-width: 37vh;
	max-height: 37vh;
}
.card-description {
margin-left: auto;
margin-right: auto;
width: 80%;
}

/*Contact*/
.form-container {
	width: 80%;
}
.form-contact {
	flex-direction: column;
}
.contact-second {
	margin-left: 0%;
		margin-right: 0%;
}
.input-contact {
	margin-bottom: 5px;

}
#message {
height: 20vh;
width: 100%;	
margin-left: auto;
margin-right: auto;
}
.button-contact {
	width: 100%;
}
.social-icon {
	flex-direction: column;
}
.social-icon-unite {
	margin-bottom: 50px;
}
}
